
.footer {
  background: #424242;
  color: #fff;
  position: relative;
}

/* 全体 */
.footer__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 24px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 80px;
}

/* ロゴ */
.footer__logo img {
  width: 250px;
  height: auto;
}

/* ナビ（3列） */
.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  transition:0.3s;

  li {
    margin-bottom: 16px;
  }

  a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.85;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      color:var(--accent);
    }
  }
}

/* コピーライト */
.footer__copyright {
  text-align: center;
  padding: 24px 16px;
  font-size: 12px;
  opacity: 0.8;
}

/* ページトップ */


.footer__pagetop {
  position: fixed;
  right: 24px;
  bottom: 80px;
  width: 48px;
  height: 48px;
  background: #22ac38;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);

  /* 初期は非表示 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
    &:hover {
    background: var(--btnbottomgreen);
  }
}

/* 表示状態 */
.footer__pagetop.is-visible {
  opacity: 1;
  visibility: visible;
}


/* ===== SP ===== */
@media (max-width: 768px) {
  .footer__inner {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .footer__nav {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
  }
}