---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="運営会社情報 | InsightBase">
  <section class="section__bg_w legal-page">
    <div class="content__inner legal-page__inner">
      <h1>運営会社情報</h1>

      <dl>
        <dt>会社名</dt>
        <dd>ビザップ株式会社<br>コーポレートサイトは<a href="https://bizup-inc.co.jp/" target="_blank">こちら</a></dd>

        <dt>創業</dt>
        <dd>2016年 4月</dd>

        <dt>設立</dt>
        <dd>2019年12月</dd>
        <dt>代表者</dt>
        <dd>鈴木　昌毅</dd>
        <dt>オフィス</dt>
        <dd>〒272-0111　千葉県市川市妙典5-13-33 A＆Yビル3F</dd>

        <dt>電話番号</dt>
        <dd>電話番号：047-718-3017</dd>

        <dt>資格・加盟団体</dt>
        <dd>ウェブ解析士（会員番号：<a href="https://www.openbadge-global.com/ns/portal/openbadge/public/assertions/detail/MFh6amFDTkxid2pIRUZPYS9PYmYzdz09" target="_blank">WAC40042404</a>）<br>
        高度情報技術活用コンソーシアム</dd>

        <dt>事業内容</dt>
        <dd>● Webサイトの企画、制作、管理、運営<br>● WebアプリのUIデザイン業務<br>● マーケティングに関する企画、支援およびコンサルティング<br>● Webアプリ開発、サーバーDBの構築 他</dd>

        


      </dl>
    </div>
  </section>
</Layout>

<Footer />
