---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Custom from "../components/Custom.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Google広告レポートテンプレート（完全買切り）｜Looker Studio対応・レポート自動化"
>
  <Hero
    hasBg={true}
    title={`Google広告<br>レポートテンプレート`}
    image="/assets/img/pc-image02.png"
    ctaText="今すぐ購入する"
    ctaLink="https://buy.stripe.com/6oU7sL4kEfky6uS9439Zm03"
    ctaClass="herobtn btn--blue btn--cubic-blue"
    description="全16ページのGoogle広告レポートを、接続するだけで即時に出力できます。"
  />
</Layout>

<section class="section__bg">
  <div class="content__inner">
    <h3 class="text-left">Google広告レポートテンプレートの特長</h3>
    <div class="colum-2">
      <div class="colum-text">
        <div class="feature__list">
          <div class="ad_blue">
            <li>全16ページのレポート（表紙・説明ページ含む）</li>
            <li>日本語表記でわかりやすい</li>
            <li>単なるデータでは無く、報告用に設計されたレポート内容</li>
          </div>
        </div>
      </div>

      <div class="colum-img">
        <div class="feature__list">
          <div class="ad_blue">
            <li>実務で使えるGoogle広告レポート構成</li>
            <li>期間指定で簡単集計（前期比表示）</li>
            <li>独自デザインに変更可能</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section__bg_w">
  <div class="content__inner">
    <div class="colum-2">
      <div class="page-content-blue">
        <div class="colum-text">
          <h3>レポート構成</h3>
          <div class="feature__list">
            <div class="ad_blue">
              <li>P01. 表紙</li>
              <li>P02. 用語解説</li>
              <li>P03. サマリー</li>
              <li>P04. 主要KPIのトレンド</li>
              <li>P05. 日別データ</li>
              <li>P06. 日別データ（CV詳細）</li>
              <li>P07. 曜日別データ</li>
              <li>P08. 時間別データ</li>
              <li>P09. キャンペーン別</li>
              <li>P10. 広告グループ別</li>
              <li>P11. 検索キーワード</li>
              <li>P12. 都道府県別</li>
              <li>P13. 都道府県別（CV詳細）</li>
              <li>P14. デバイス別</li>
              <li>P15. 年齢別</li>
              <li>P16. 性別</li>
            </div>
          </div>
        </div>
      </div>

      <div class="colum-img">
        <img src="/assets/img/screenshot/scsho02.png" />
      </div>
    </div>
  </div>
</section>

<section class="section__bg">
  <div class="content__inner">
    <div class="colum-2">
      <div class="colum-text">
        <h3 class="section__title_h3">独自デザインに変更可能</h3>
        <img src="/assets/img/screenshot/point011.jpg" />
        <p class="--pt20">
          Looker
          Studioの基本機能を使用すれば、あらかじめ用意された表紙データを、自社ロゴの配置、タイトル変更、スクリーンショットの張り付けなど自由にデザインすることが可能です。
        </p>
      </div>

      <div class="colum-img">
        <h3 class="section__title_h3">期間指定で簡単レポート集計</h3>
        <img src="/assets/img/screenshot/point022.jpg" />
        <p class="--pt20">
          任意の期間（「開始日」「終了日」）を指定するだけで、主要KPI・トレンド・比較データ等、全ページに即時反映。期間を指定するだけでレポートが完成します。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section__bg_w">
  <div class="content__inner">
    <div class="colum-2">
      <div class="colum-text">
        <h3 class="section__title_h3">読み手に優しい日本語設計</h3>
        <img src="/assets/img/screenshot/point033.jpg" />
        <p class="--pt20">
          Looker
          Studio標準の英語表記を、日本語に最適化。クライアント先への提出を前提に、伝わるレポート表記へ設計しています。
        </p>
      </div>

      <div class="colum-img">
        <h3 class="section__title_h3">Looker Studioの共有機能</h3>
        <img src="/assets/img/screenshot/point04.jpg" />
        <p class="--pt20">
          レポートデータは、Looker
          Studioの共有機能を使用してクライアント様と共有が可能。
          PDFデータでの共有も、Looker Studioの基本機能で簡単に出力できます。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section__bg_lblue_bottom">
  <div class="content__inner">
    <p class="section__title_en">High Quality Report Template</p>
    <h2 class="section__title">現場で使われている、実務仕様</h2>
    <div class="lead__text">
      <p>
        本テンプレートは、ウェブ解析士が実際のクライアントワークで使用しているレポート構成をもとに設計。<br
        />
        流入分析からコンバージョンまで、改善提案につながるストーリーで構成されています。<br
        />
        “数字を並べるだけ”ではない、 提出前提の実務レベルレポートです。
      </p>
    </div>
    <div class="image-l">
      <img src="/assets/img/pc-image02.png" />
    </div>
  </div>
</section>
<section class="section__bg_lblue">
  <div class="content__inner">
    <div class="cta-btn">
      <p>17,600円（税込）</p>
      <a href="https://buy.stripe.com/6oU7sL4kEfky6uS9439Zm03" class="herobtn btn--blue btn--cubic-blue" data-event="purchase_click" data-product="gadcta">今すぐ購入する</a>
    </div>
        <div class="cta-btn --pt20">
        <p class="--pt20">GA4＋Google広告レポートテンプレート</p>
      <p>29,800円（税込）</p>
      <a href="https://buy.stripe.com/cNibJ18AU2xMaL89439Zm01" class="herobtn btn--green btn--cubic-green">今すぐ購入する</a>
  </div>
</section>

<Footer />
