---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="特定商取引法に基づく表記 | InsightBase">
  <section class="section__bg_w legal-page">
    <div class="content__inner legal-page__inner">
      <h1>特定商取引法に基づく表記</h1>
      <p class="legal-page__meta">最終更新日: 2026年2月15日</p>

      <dl>
        <dt>販売事業者</dt>
        <dd>ビザップ株式会社</dd>

        <dt>運営責任者</dt>
        <dd>鈴木　昌毅</dd>

        <dt>所在地</dt>
        <dd>本社：〒272-0127 千葉県市川市塩浜4-2-25-104<br>オフィス：
          〒272-0111　千葉県市川市妙典5-13-33 A＆Yビル3F</dd>

        <dt>お問い合わせ先</dt>
        <dd>電話番号：047-718-3017<br />お問い合わせフォーム：<a href="https://bizup-inc.co.jp/inquiry/">https://bizup-inc.co.jp/inquiry/</a><br>※ お問い合わせはフォームよりご連絡ください。</dd>

        <dt>販売価格</dt>
        <dd>各商品ページに記載の金額（税込）</dd>

        <dt>商品代金以外の必要料金</dt>
        <dd>インターネット接続にかかる通信料等はお客様のご負担となります。</dd>

        <dt>お支払い方法</dt>
        <dd>各購入ページで指定する決済方法</dd>

        <dt>お支払い時期</dt>
<dd>各決済方法に基づき、ご注文時にお支払いが確定します。</dd>

        <dt>商品の引き渡し時期</dt>
        <dd>決済完了後、即時にダウンロードまたは閲覧可能なURLおよびパスワードを提供いたします。</dd>

        <dt>返品・キャンセル</dt>
        <dd>
          デジタル商品の性質上、原則として返品・返金には対応しておりません。提供内容に不備がある場合はお問い合わせ窓口までご連絡ください。
        </dd>
        <dt>動作環境</dt>
<dd>
GoogleアカウントおよびGoogle Looker Studioの利用環境が必要です。<br>
インターネット接続環境が必要となります。
</dd>


      </dl>
    </div>
  </section>
</Layout>

<Footer />
