---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="GA4レポートテンプレート決済完了 | InsightBase">
  <meta slot="head" name="robots" content="noindex" />
  <section class="section__bg_w inquiry inquiry--thanks">
    <div class="content__inner inquiry__inner">
      <div class="inquiry__header">
        <p class="section__title_en">Thank You</p>
        <h1 class="section__title">決済が完了いたしました。</h1>

        <div class="paid-box">
          <p class="inquiry__lead">
            ご購入誠にありがとうございます。<br />
          </p>
          <h4>GA4レポートテンプレート</h4>
          <p>17,600円（税込）</p>
        </div>
        <p class="--mb50">
            ご購入いただいたテンプレートを利用するためのパスワードは、<br>決済完了後数分以内にご登録のメールアドレスへ自動送信されます。<br>
            30分以上経過してもメールが届かない場合は、<br>迷惑メールフォルダもご確認の上、お問い合わせフォームよりご連絡ください。</p>
        <a
          href="https://manual.insightbase.jp/"
          class="btn primary inquiry__submit">導入マニュアルへ</a
        >
      </div>
    </div>
  </section>
</Layout>

<Footer />
