<section class="column-author">
  <img
    src="/assets/img/column/author.png"
    class="author"
    alt="InsightBase編集部の著者アイコン"
  />
  <div class="column-author__body">
    <h4>InsightBase編集部</h4>
    <p>
      当社は、Webマーケティング支援業務の一環として、ウェブ解析士がGA4／Google広告／Looker
      Studioを用いたレポート作成・改善を日常的に行っています。経営・現場の意思決定に使える「見やすさ」「要点の整理」「継続運用のしやすさ」を重視し、実務で培ったノウハウをInsightBase編集部として記事にまとめ、公開しています。
    </p>
  </div>
</section>