<section class="section__bg_lgreen" id="cta">
  <div class="content__inner">
    <h2 class="section__title">レポート作業時間を価値創出の時間へ。</h2>
<p>PDF提出用、共有・管理用のテンプレート2種類をそれぞれご用意しております。</p>
    <div class="cta --pt20">
      <div class="cta_box">
        <h3>GA4レポートテンプレート</h3>
        
        <img
          src="/assets/img/screenshot/image03.jpg"
          alt="GA4レポートテンプレート"
        />
        <p>17,600円（税込）</p>
        <a href="/checkout/ga4" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="ga4cta"
          >今すぐ購入する</a
        >
      </div>

      <div class="cta_box">
        <h3>Google広告レポート</h3>
        <img
          src="/assets/img/screenshot/image07.jpg"
          alt="Google広告レポートテンプレート"
        />
        <p>17,600円（税込）</p>
        <a href="/checkout/googlead" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="gadcta"
          >今すぐ購入する</a
        >
      </div>

      <div class="cta_box">
        <h3>GA4＋Google広告レポート</h3>
        <img src="/assets/img/screenshot/set.jpg" alt="GA4＋Google広告レポート" />
        <p>29,800円（税込）</p>
        <a href="/checkout/set" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="setcta"
          >今すぐ購入する</a
        >
      </div>
    </div>
   
  </div>
</section>
