<section class="section__bg_lgreen" id="cta">
  <div class="content__inner">
    <h2 class="section__title">レポート作業時間を価値創出の時間へ。</h2>

    <div class="cta --pt20">
      <div class="cta_box">
        <h3>GA4レポートテンプレート</h3>
        <img
          src="/assets/img/screenshot/image03.jpg"
          alt="多言語サイト向けレポート作成"
        />
        <p>17,600円（税込）</p>
        <a href="https://buy.stripe.com/fZucN58AUgoC06u9439Zm02" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="ga4cta"
          >今すぐ購入する</a
        >
      </div>

      <div class="cta_box">
        <h3>Google広告レポート</h3>
        <img
          src="/assets/img/screenshot/image07.jpg"
          alt="独自コンバージョンレポート作成"
        />
        <p>17,600円（税込）</p>
        <a href="https://buy.stripe.com/6oU7sL4kEfky6uS9439Zm03" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="gadcta"
          >今すぐ購入する</a
        >
      </div>

      <div class="cta_box">
        <h3>GA4＋Google広告レポート</h3>
        <img src="/assets/img/screenshot/set.jpg" alt="営業資料連動型レポート作成" />
        <p>29,800円（税込）</p>
        <a href="https://buy.stripe.com/cNibJ18AU2xMaL89439Zm01" class="herobtn btn--green btn--cubic-green" data-event="purchase_click" data-product="setcta"
          >今すぐ購入する</a
        >
      </div>
    </div>
    <p class="--pt50">購入ボタンをクリックすると、決済代行サービス Stripe の決済画面へ移動します。<br>クレジットカード情報などの決済情報はStripeが暗号化して処理し、当社が保持することはありません。</p>
  </div>
</section>
