<section class="section__bg_w">
  <div class="content__inner">
    <h2 class="section__title">御社のビジネスに最適化</h2>
        <div class="lead__text">
      <p>
        オプションで、御社のビジネスモデルやKPIに合わせた 個別最適化にも対応可能です。
      </p>


    </div>
    <div class="custom --pt20">
      <div class="custom__feature">
        <img src="/assets/img/custom01.png" alt="多言語サイト向けレポート作成" />
        <h3>多言語サイト向けレポート作成</h3>
 
      </div>

      <div class="custom__feature">
        <img src="/assets/img/custom02.png" alt="独自コンバージョンレポート作成" />
        <h3>独自コンバージョンレポート作成</h3>

      </div>

      <div class="custom__feature">
        <img src="/assets/img/custom03.png" alt="営業資料連動型レポート作成" />
        <h3>営業資料連動型レポート作成</h3>

      </div>

      <div class="custom__feature">
        <img src="/assets/img/custom04.png" alt="GTM/GA4設定代行" />
        <h3>GTM/GA4設定代行</h3>

      </div>
    </div>
  </div>
</section>
