<footer class="footer">
  <div class="footer__inner">
    <!-- ロゴ -->
    <div class="footer__logo">
      <img src="/assets/img/logo/ib_logo-white.svg" alt="InsightBase Lite" />
    </div>

    <!-- ナビ -->
    <nav class="footer__nav">
      <!-- 左 -->
      <ul class="footer__list">
        <li><a href="/ga4-report-template/">GA4レポートテンプレート</a></li>
        <li><a href="/googlead-report-template/">Google広告レポートテンプレート</a></li>
        <li><a href="/inquiry">お問い合わせ</a></li>
      </ul>

      <!-- 中央 -->
      <ul class="footer__list">
        <li><a href="/terms/">利用規約</a></li>
        <li><a href="/tokushoho/">特定商取引法に基づく表記</a></li>
      </ul>

      <!-- 右 -->
      <ul class="footer__list">
        <li><a href="/company/">会社概要</a></li>
        <li><a href="https://bizup-inc.co.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
      </ul>
    </nav>
  </div>

  <!-- コピーライト -->
  <div class="footer__copyright">
    <p>Copyright © ビザップ株式会社 All Rights Reserved.</p>
  </div>


</footer>
