


<aside class="column-sidebar" aria-label="サイドバー">
  <section class="column-widget">
    <a href="/"><img src="/assets/img/column/ad01_square.jpg" /></a>
  </section>

  <section class="column-widget">
    <h2>おすすめテンプレート</h2>
    <ul>
      <li><a href="/ga4-report-template">GA4レポートテンプレート</a></li>
      <li>
        <a href="/googlead-report-template">Google広告レポートテンプレート</a>
      </li>
    </ul>
  </section>
</aside>
